

body{
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

#titulo{
    text-align: center;
    font-family: 'Slabo 27px', serif;
}

.subtit{
    font-style: italic;
}

nav, form{
    text-align: center;
}


